@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --hero-bg-color: #f9fafb;
  --title-color: #111827; 
  --text-color: #6b7280; 
  --button-bg-color: #059669; 
  --button-hover-bg-color: #047857; 
  --button-focus-ring-color: #fbbf24; 
  --button-text-color: #ffffff;

  /*  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* --hero-bg-color: #1f2937;
    --hero-title-color: #f3f4f6;
    --hero-text-color: #9ca3af;
    --button-bg-color: #10b981;
    --button-hover-bg-color: #059669;
    --button-focus-ring-color: #fde68a;
    --button-text-color: #1f2937; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Menghilangkan scrollbar di Chrome, Safari, dan Edge */
}

.custom-scrollbar {
  -ms-overflow-style: none; /* Menghilangkan scrollbar di Internet Explorer dan Edge Legacy */
  scrollbar-width: none; /* Menghilangkan scrollbar di Firefox */
}

/* Loader */
/* HTML: <div class="loader"></div> */
.loader-children {
  /* width: 15px; */
  aspect-ratio: 1;
  border-radius: 50%;
  animation: loader-children 1s infinite linear alternate;
}
@keyframes loader-children {
    0%  {box-shadow: 20px 0 #059669, -20px 0 #0002;background: #059669 }
    33% {box-shadow: 20px 0 #059669, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #059669; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #059669; background: #059669 }
}

.loader-typing-chatbot {
  width: 30px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#1f2937  90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}